@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    background-color: aqua;
}

.mainContainer{
    width: 25%;
    height: 550px;
    border: 1px solid black;
    margin: 75px auto;
    background-color: rgb(221, 166, 94);
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 50px;

}
h2{
    font-size: 120px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 8px 0px ;
}

.container{
    margin: 80px 10px;
    text-align: center;
}

button{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 14px 10px;
    height: 40px;
    text-align: center;
    width: 140px;
    background-color: #2962ff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
